extends layout

block content
  h1 Documentación de la API
  h2 Modelo de operación
  p Las operaciones que se guardan en la base de datos tienen la siguiente estructura:
  table
    thead 
      tr
        th Atributo
        th Tipo de dato
        th Valores válidos
    tbody 
      tr
        td id
        td Integer
        td Entero mayor o igual que 1
      tr
        td concept
        td String
        td
          ul
            li 'entertainment'
            li 'supermarket'
            li 'clothing'
            li 'services'
            li 'travels'
            li 'others'
            li 'transport'
            li 'technology'
            li 'subscriptions'
            li 'home'
            li 'job'
      tr
        td amount
        td Float
        td Decimal mayor que 0
      tr
        td _type
        td String
        td
          ul
            li 'income'
            li 'expense'
      tr
        td _date
        td Date
        td AAAA-MM-DD

  p El atributo id, se genera automaticamente.

  h2 Endpoints
  table
    thead
      tr
        th Método
        th Ruta
        th Descripción
    tbody
      tr
        td GET
        td /api/operations
        td Recupera todas las operaciones.
      tr
        td GET
        td /api/operations?page=n
        td Recupera las 10 operaciones indicadas por el parámetro n siendo n=1 los primeros 10 registros.
      tr
        td GET
        td /api/operations/id
        td Recupera la operación con el id correspondiente.
      tr
        td GET
        td /api/operations/concept
        td Recupera todas las operaciones que coincidan con el parámetro concept correspondiente.
      tr
        td GET
        td /api/operations/concept?page=n
        td Recupera 10 operaciones que coincidan con el parametro concept correspondiente.
      tr
        td GET
        td /api/operations/type
        td Recupera todas las operaciones que coincidan con el type correspondiente.
      tr
        td GET
        td /api/operations/type?page=n
        td Recupera 10 operaciones que coincidan con el type correspondiente.
      tr
        td POST
        td /api/operations
        td Agrega una operación. Se espera recibir un JSON que contenga los atributos 
          mark concept, amount, _type y _date
      tr
        td PUT
        td /api/operations/id
        td Actualiza una operación existente que coincida con el parametro id. Se espera recibir un JSON que contenga los atributos 
          mark concept amount y _date
      tr
        td DELETE
        td /api/operations/id
        td Elimina una operación existente que coincida con el parametro id.

  h3
    a(href="/") Volver a la página principal. 