extends layout.pug

block content
  h1 Presupuesto personal
  p.index Administra tu presupuesto creando, eliminando, modificando y consultando tus operaciones según los criterios deseados.
  nav
    ul
      li
        a(href="/api") Ver documentación de la API.
      li
        a(href="https://github.com/agusbarrio/personal-budget-backend" target="_blank" rel="noopener noreferer") Ver código en github.
